@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&family=Ubuntu:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500&display=swap');
@import url('https://fonts.cdnfonts.com/css/graphik');

:root {
  --color-1: #e7eaed;
  --color2: #0b8cd3;
  --border-color1: #e1e3ea;
  --shallow-shadow2: 0 1px .625rem 0 hsla(210, 7%, 22%, .06), 0 .125rem .25rem 0 hsla(210, 7%, 22%, .08);
  --shallow-shadow: 0px 0 30px rgb(1 41 112 / 10%);
  --shallow-shadow3: 0px 0 30px rgb(133 134 137 / 10%);
  overflow-x: hidden !important;
}

html, body{
  overflow-x: hidden !important;
}


body {
  line-height: 1.3;
  background: #fff;
  font-weight: 400;
  font-size: 15px;
  color: #364550;
  /* font-family: "Inter"; */
  /* font-family: 'Jost', sans-serif; */
  font-family: "Open Sans", sans-serif;
  /* font-family: "Roboto"; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  overflow: hidden !important;
  /* font-family: 'Graphik', sans-serif; */
  /* height: 3000px; */
                                                
}

a {
  color: #333e48;
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: contain;
}

.property-spinner {
  width: 20px;
  height: 20px;
}

.app-wrapper {
  
}

.modal-dialog{
  margin: 5rem auto;
}

.modal {
  display: block !important;
}


.modal .alert {
  border-radius: 0;
}

.modal .error-icon {
  text-align: center;
  padding: 5rem;
}

.modal .error-icon i {
  font-size: 4rem;
  animation: scaleIcon 0.5s ease-in-out 0.5s;
}





.btn:focus {
  box-shadow: none;
}

.form-control:focus {
  border: 1px solid #ccc !important;
  box-shadow: none;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

.card {
  border: 1px solid var(--color-1);
  box-shadow: var(--shallow-shadow3);
}
.form-control{
  border: 1px solid #d0dbf0 !important; 
}

.container {
  max-width: 1450px;
}

.svg-icon {
  width: 30px;
  height: 30px;
}

.dropdown-menu {
  padding: 0;

}

.create-estate-btn {
  background-color: #49c2d4;
}


/* Navbar styles */
.navbar {
  padding: 0 !important;
  border-bottom: 1px solid var(--color-1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
}

.navbar .logo {
  flex: 0.5;
}

.navbar .logo img {
  width: 70px;
  height: 70px;
  cursor: pointer;
  transform: scale(1.6);
  margin-left: 13px;
}

.navbar .menu-2 i {
  font-size: 25px;
  color: black;
  font-weight: 700;
}

.navbar .menu-1 {
  position: relative;
}

.navbar .menu-1 input {
  width: 400px;
  border-radius: 30px;
}

.navbar .menu-1 .search-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.navbar .menu-2 {
  flex: 1;
  justify-content: end;
}

.navbar .menu-2 .navbar-icon-links li>a {
  padding: 18px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 20px;
  position: relative;
}

.navbar .menu-2 a .count {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  background-color: #6694c9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  top: -12px;
  right: 0;
}

.navbar .menu-2 ul li:nth-child(1) a .count {
  background-color: #f96565 !important;
}

.navbar .menu-2 ul li:nth-child(2) a .count {
  background-color: #6694c9 !important;
}

.navbar .menu-2 ul li:nth-child(3) a .count {
  background-color: #f50022 !important;
}

.navbar .menu-3 .btn {
  color: white;
  font-family: "Jost";
  padding: 6px 20px;
  font-size: 17px;
  border-radius: 30px;
  width: 130px;
}

.navbar .menu-3 .btn-login {
  background-color: #5143d9;
  margin-right: 20px;
}

.navbar .menu-3 .btn-sign {
  background-color: #1972ff;
  color: #fff;
}

.navbar-profile {
  position: relative;
  padding-left: 20px;
}

.navbar-profile .dropdown-menu {
  margin-top: 35px;
}

.navbar-top-profile {
  font-size: 14px !important;
  font-size: 14px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: "Jost";
  border-bottom: 1px solid var(--color-1);
}

.navbar-top-profile .profile-left {
  margin-left: 10px;
}

.navbar-top-profile .profile-left h5 {
  color: #000000;
  font-weight: 400;
  margin: 0;
  font-size: 18px;
}

.navbar-top-profile .profile-left h6 {
  font-size: 14px;
  color: #384558;
  font-weight: 400;
}

.navbar-profile li img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.active-state {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #26ffba;
  position: absolute;
  top: -2px;
  right: 2px;
}

.navbar-bottom-profile ul {
  padding: 0;
}

.navbar-bottom-profile ul li a {
  display: flex;
  align-items: center;
  padding: 7px 5px;
}

.navbar-bottom-profile ul li a {
  display: flex;
  align-items: center;
  padding: 7px 5px;
}

.navbar-bottom-profile ul li a:hover {
  background-color: #fcffff;
}

.navbar-bottom-profile ul li i {
  margin-right: 10px;
  font-size: 17px !important;
}

.navbar-bottom-profile a {
  justify-content: start;
}

.navbar-bottom-profile i {
  font-size: 15px;
}

.navbar-top-profile i {
  font-size: 15px;
}

/* Banner Styles */
.banner {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5.5rem;
}

.banner .banner-content {
  /* min-width: 1000px; */
}

.banner .banner-content p {
  font-size: 22px;
  color: black;
}

.banner .banner-control-buttons {
  margin: 20px 0;
}

.banner-content h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.banner-content .btn {
  color: white;
  padding: 12px 40px;
  font-weight: bold;
  border-radius: 8px;
  margin: 0px 20px;
  font-size: 18px;
}

.banner-content .btn i {
  margin-left: 5px;
}

.banner-content .buy {
  background-color: #ff593b;
}

.banner-content .rent {
  background-color: #4a87ff;
}

.banner-content .banner-search {
  margin: 3rem 0;
  box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
  padding: 30px;
  border-radius: 10px;
}

.banner-content .banner-search .row {
  align-items: center;
  justify-content: center;
}

.banner-content .search {
  background-color: white;
  color: #18181a;
  border: 1px solid #676771;
}

.banner-search input,
.banner-search select {
  padding: 15px 10px;
  font-family: "Jost";
}

.banner-search button {
  padding: 15px 40px !important;
  display: flex;
  font-family: "Jost";
}

.banner-search .form-group.location {
  position: relative;
}

.banner-search .form-group.location i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}


/* AGENT SHOWCASE STYLES */
.agent-showcase {
  background-color: #19b1eb;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 3rem 0;
}
.agent-showcase .showcase-img-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.agent-showcase img {
  width: 400px;
  height: 400px;
}

.agent-showcase h2 {
  font-size: 40px;
  color: #f0f4ff;
  font-family: 'Nunito Sans';
  font-weight: 800;
  margin-bottom: 2rem;
}

.agent-showcase p {
  color: #d8dff1;
}


.agent-showcase .register-btn {
  color: #ffffff;
  background-color: rgb(55 120 149);
  padding: 15px 20px;
  border-radius: 50px;
  margin-top: 15px;
  font-weight: 800;
  font-family: 'Open Sans';
  
}



/* Property styles */
.property-header h5 {
  font-size: 15px;
  color: #6694c9;
}

.property-header h4 {
  font-size: 19px;
  color: #000000;
}

.property-header .btn {
  box-shadow: var(--shallow-shadow);
  border: 1px solid #ccc;
  margin-left: 10px;
  font-size: 13px;
  color: #1e3f62;
}

.property-listing-container {
  /* background-color: #f7f7f7; */
}

.property .card {
  border-radius: 7px;
  overflow: hidden;
}

.property .top,
.property .middle,
.property .bottom {
  padding: 20px;
}

.property .middle p {
  color: #6694c9;
}

/* .property .top{
  height: 260px;
  position: relative;
} */
.property h4 {
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.property .property-tags {
  margin-left: -7px;
}

.property .property-options {
  display: none !important;
}

/* .property .property-tags{
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  
  left: 0;
  padding: 20px;
  width: 100%;
}
.property .pricing{
  position: absolute;
  z-index: 1000;
  bottom: 20px;
  color: white;
} */
.property .pricing h4 {
  color: rgb(15 105 249);
  font-size: 1.3rem;
  margin-top: 20px;
}

.property .tag-text {
  text-transform: capitalize;
}

.property .tag {
  display: inline-block;
  padding: 10px 5px;
  background-color: #d7e0e6;
  border-radius: 7px;
  min-width: 30px;
  text-align: center;
  margin-right: 5px;
  color: white;
  line-height: 10px;
  transform: scale(0.8);
}

.property .tag-1 {
  background-color: #1097eb;
}

.property .tag-2 {
  background-color: #00b4d7;
}

.property .tag-3 {
  background-color: #f9a11e;
}

.property .tag-4 {
  background-color: #787d80;
}

.property .owner img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.property .owner div{
  margin-left: 8px;
}
.property .owner p {
  margin: 0;
  margin-left: 10px;
}
.property .owner a{
  color: #0b8cd3;
}

.property .owner p a {
  color: var(--color2);
}

.property .btn {
  color: #151a1e;
  background-color: #e7eaed;
  font-weight: 500;
  padding: 6px 20px;
}

.property .bottom {
  border-top: 1px solid var(--color-1);

}

/* .property .cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.property .top::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: #00000027;
  z-index: 1000;
} */


/* PROPERTY PAGES STYLES */
.shadow-1 {
  box-shadow: 0px 0 30px rgb(1 41 112 / 10%) !important;
  border-radius: 0.625rem;
  box-shadow: 0 7px 14px 0 rgba(65,69,88,0.1), 0 px 6px 0 rgba(0,0,0,0.07) !important;
  border: none;
}

.t-1 {
  font-weight: 700;
  font-size: 20px;
}

.t-2 {
  font-weight: 700;
  font-size: 18px;
}

.t-3 {
  font-size: 3rem;
  font-weight: bold;
}

.heading-1 {
  font-family: Inter, "sans-serif";
  font-weight: 600;
  color: #1e293b;
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.property-showcase .t-4 {
  font-family: 'Nunito Sans';
  font-weight: 600;
  color: rgb(30, 41, 59);
}

.property-showcase .price {
  color: rgb(30, 41, 59);
  font-family: 'Inter';
  font-weight: 700;
}

.property-showcase .meta {
  font-size: 15px;
  color: #757573;
}

.property-showcase .meta span {
  margin-right: 10px;
}

.property-showcase .meta span i {
  margin-right: 5px;
}

.property-showcase .time {
  margin-left: 10px;
}

.property-showcase .tag i {
  margin-left: 10px;
}

.property-showcase .property-showcase-1-left .tag {
  background-color: #34b9e8;
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 5px;
}

.property-showcase .property-showcase-1-right .btn {
  border: 1px solid #ccc;
  margin-right: 10px;
}





.reviews .review-stats {
  border-bottom: 1px solid #c2c9cf7d;
  padding-bottom: 2rem;
}

.reviews .stats-num span {
  margin-right: 5px;
}

.reviews .stats-num span i {
  color: orange;
}

.reviews .stats-num .num {
  font-family: "Nunito Sans";
}

.reviews .progress {
  height: 10px;
  margin-top: 12px;
}

.reviews .progress-bar {
  background-color: orange;
}

.reviews .review {
  border-bottom: 1px solid #c2c9cf7d;
  padding: 2rem;
  margin-top: 2rem;
}

.reviews .reviews-reply-container .review img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}

.reviews .reviews-reply-container .review .review-right {
  margin-left: 15px;
}

.reviews .reviews-reply-container .review .content .stars span {
  margin-right: 5px;
}

.reviews .reviews-reply-container .review .content .stars span i {
  color: orange;
}

.reviews .reviews-reply-container .review .content h4 {
  font-size: 16px;
  font-family: 'Jost';
  font-weight: 400;
  color: #0f1623;
}

.reviews .reviews-reply-container .review .content h4 span {
  font-size: 15px;
  font-family: "Nunito Sans";
  font-weight: 500;
}
.review-helpfull p{
  flex: 1;
}

.reviews .reviews-reply-container .review .content p {
  color: #64748b;
}

.reviews .review-helpfull .btn {
  color: white;
  margin-left: 10px;
}

.reviews .review-helpfull p {
  margin: 0;
}

.reviews .review-helpfull .btn:nth-child(1) {
  background-color: #5143d9;
}

.reviews .review-helpfull .btn:nth-child(2) {
  background-color: white;
  color: #64748b;
  border: 1px solid #64748b;
}

.property-page {
  padding-top: 5rem;
}

.property-page .property-card {}

.property-page .property-middle {
  border-bottom: 1px solid #cfd4e185;
  padding: 30px 20px;
}

.property-page .property-middle img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.property-page .property-middle .btn {
  background-color: #ffffff;
  color: #272323;
  font-weight: 500;
  border-radius: 7px;
  font-family: 'Nunito Sans';
  font-size: 17px;
  border: 1px solid #333;
  padding: 10px 20px;
}

.property-page .property-bottom {
  padding: 30px 20px;
}

.property-page .property-bottom .list-group li {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.property-page .property-bottom .list-group li span:first-child {
  margin-right: 15px;
}


.property-page .social-links {
  display: flex;
}

.property-page .social-links span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.property-page .social-links span i {
  color: white;
}

.property-page .social-links span.facebook {
  background-color: #3b5998;
}

.property-page .social-links span.twitter {
  background-color: #0c85d0;
}

.property-page .social-links span.google {
  background-color: #c63224;
}

.property-page .social-links span.dribbble {
  background-color: #e62a72;
}

.views .btn {
  border: 1px solid #939aa4;
  padding: 7px 25px;
  margin-right: 20px;
}

.property-page .create-review .stars i {
  font-size: 2.5rem;
  color: orange;
  margin-right: 5px;
}

.property-page .create-review textarea {
  border-radius: 40px;
  resize: none;
  padding: 10px 20px;
}

.property-page .create-review .terrible {
  color: #9ba8b0;
}

.property-page .create-review label {
  margin: 10px 0;
  font-weight: 700;
}

.property-page .create-review label span {
  font-weight: 400;
}

.property-page .create-review .create {
  border-radius: 40px;
  padding: 10px 20px;
  background-color: #5143d9;
  color: white;
  font-weight: 500;
  font-family: 'Nunito Sans';
}


.property-page .agents img {
  border-radius: 5px;
}

.property-page .agents .agent-details .location {
  margin: 0;
}

.property-page .agents .agent-details .heading-1 {
  margin: 10px 0;
}

.property-page .agents .agent-details .meta .stars {
  margin-left: 10px;
}

.property-page .agents .agent-details .meta p {
  color: black;
  font-weight: 600;
}

.property-page .agents .agent-details .meta .stars i {
  color: orange;
}


/* category styles */
.category-listing-container {
  background-color: #fff;
}
.category-listing-wrapper .card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  text-align: center;
  border-radius: 7px;
  box-shadow: none;
  border: 1px solid var(--border-color1);
  background-color: transparent !important;
  border: none;
}

.category-header h3{
  font-size: 18px;
  color: #333;
  font-weight: 700;
  text-transform: capitalize;
  font-family: 'Inter';
}

.category-listing-wrapper .col-3:nth-child(1) .inner-content i {
  color: red;
}

.category-listing-wrapper .col-3:nth-child(2) .inner-content i {
  color: rgb(0, 44, 70);
}

.category-listing-wrapper .col-3:nth-child(3) .inner-content i {
  color: rgb(63 141 248);
}

.category-listing-wrapper .col-3:nth-child(4) .inner-content i {
  color: rgb(53 240 86);
}

.category-listing-container .heading {
  font-size: 19px;
  color: #000000;
}

.category-listing-wrapper .card h5 {
  font-size: 16px;
  color: #333;
  font-weight: 700;
  text-transform: capitalize;
}

.category-listing-wrapper img {
  width: 150px;
  height: 150px;
}

.category-listing-wrapper i {
  font-size: 20px;
  margin-left: 5px;
}

.category-listing-wrapper .card .btn {
  color: #000000;
    margin-top: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid #5e5e67;
}

/* LOADER STYLES */
.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-wrapper .loader-2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #0cf0a4;
  border-radius: 50%;
  border-bottom-color: #1cabd6;
  border-top-color: #7424be;
  border-right-color: #242957;
  animation: loading 0.9s linear 0s infinite;
}

.loader-wrapper .loader-1 {
  width: 100px;
  height: 100px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/* LOGIN & REGISTER PAGE STYLES */
.form-wrapper label {
  margin-bottom: 5px;
  font-size: 17px;
}

.form-wrapper .form-container {
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
  margin: 0 auto;
  padding: 2rem;
  position: relative;
}

.form-wrapper .form-container a {
  color: #165bc2 !important;
}

.form-wrapper .form-container .heading {
  text-align: center;
}

.form-wrapper .form-container .heading h4 {
  color: #1a69de;
  font-weight: 400;
}

.form-wrapper .form-container .form-group {
  margin-top: 1rem;
}

.form-wrapper .form-container button {
  width: 100%;
  font-weight: 500;
}

.form-wrapper .form-container .form-logo {}

.form-wrapper .form-logo img {
  width: 100px !important;
  height: 100px !important;
  transform: scale(1.9);
}



/* PROFILE PAGE STYLES */
.profile-page-container {
  padding-top: 5rem;
}

.profile-container {
  padding: 20px 0px;
}

.profile-page-container .profile-header.card {
  flex-direction: row;
  padding: 1rem;
  box-shadow: none;
}

.profile-page-container .btn {
  
  text-wrap: nowrap;
  color: white;
}

.profile-page-container .heading div:first-child {
  visibility: hidden;
}

.profile-page-container .heading div>p:first-child {
  font-weight: 900;
  color: #16192c;
  font-size: 15px;
  margin-right: 20px;
}

.profile-page-container .heading div>p:last-child {
  font-weight: 900;
  color: #16192c;
  font-size: 15px;
  margin-right: 20px;
}

.profile-page-container .heading div>button:first-child {
  background-color: rgb(30, 37, 100);
  color: white;
  margin-right: 20px;
}

.profile-page-container .heading div>button:last-child {
  background-color: var(--color2);
  color: white;
}

.profile-page-container .user-profile-wrapper {
  flex: 0.3;
  position: relative;
}

.profile-page-container .user-profile-wrapper .active-state {
  top: 10px;
  right: 24px;
  width: 15px;
  height: 15px;
}

.profile-page-container .left-profile-page img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 10px;
  background-color: #f2f2f2;
  object-fit: cover;
}

.profile-header .user-name {
  font-weight: 600;
  color: #16192c;
  font-size: 23px;
  margin-right: 20px;
}

.profile-header .user-icon {
  color: #3689ef;
  font-size: 40px;
  margin-left: 5px;
}

.profile-header .top-profile-header .right button:first-child {
  background-color: #5143d9;
  margin-right: 10px;
}

.profile-header .top-profile-header .right button:last-child {
  background-color: #ff6868;
}

.profile-header ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-items: center;
}

.profile-header>div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex: 1;
}

.profile-header ul li {
  margin-right: 10px;
  font-size: 15px;
}

.profile-header ul li i {
  margin-right: 3px;
}

.profile-header .bottom-profile-header .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.profile-header .bottom-profile-header .left>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 110px;
  height: 80px;
  margin-right: 10px;
  text-align: center;
  margin-left: -21px;
}

.profile-header .bottom-profile-header .left>div h5 {
  font-weight: 700;
  color: rgb(15 105 249);
  font-size: 16px;
}

.profile-header .bottom-profile-header .left>div p {
  color: #18396a;
}

.profile-wrapper-right {}

.profile-wrapper-right .nav-tabs {

}

.profile-wrapper-right .nav-tabs li{
  
}
.profile-wrapper-right .nav-tabs li button span{
  display: flex;
  align-items: center;
}

.profile-wrapper-right .nav-link {
  border: none;
}

.profile-wrapper-right .nav-link i {
  margin-left: 5px;
  font-size: 1.5rem;
}

.profile-wrapper-right .nav-link.active {
  color: #495057;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  border-bottom: none;
}

.profile-wrapper-right .row {
  margin-top: 20px;
}

.profile-wrapper-right .row .label {
  font-weight: 600;
  color: rgb(1 41 112 / 60%);
}

.profile-wrapper-right .edit-profile .profile {
  border-radius: 0;
  border: none;
  background-color: transparent;
  width: 150px;
  height: 140px;
}

.profile-wrapper-right textarea {
  height: 120px;
}

.profile-wrapper-right .inner-title {
  font-weight: 500;
  font-size: 17px;
  color: ;
}

.profile-link-container {}

.profile-link-container .profile-links-row {
  display: flex;
  border-radius: 4px;
}

.profile-link-container .profile-links-row a {
  color: rgb(15 105 249);
}

.profile-link-container .profile-links-row li {
  padding: 5px;
  flex: 1 !important;
  text-align: center;
}

.profile-link-container .tab-content .inner-earnings>div:nth-child(1) .earning-card {
  background-color: #ff6868;
}

.profile-link-container .tab-content .inner-earnings>div:nth-child(2) .earning-card {
  background-color: #3d6e8c;
}

.profile-link-container .tab-content .inner-earnings>div:nth-child(3) .earning-card {
  background-color: #8285e7;
}

.earning-card {
  padding: 20px;
  border-radius: 4px;
}

.earning-card h4 {
  font-weight: 600;
}

.bottom-profile-page .heading{
  font-weight: 700;
}
.user-properties-container .search{
  padding: 10px 30px;
}
.user-properties-container table{
  width: 100%;
}
.user-properties-container thead{
  border-bottom: 2px solid #d0dbf0;
}
.user-properties-container span{
  color: #12263f;
}
.user-properties-container thead span{
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Jost";
  color: #000000;
}

.user-properties-container tbody tr td{
  padding: 20px 5px;
  border-bottom: 1px solid #d0dbf0;
}

.user-properties-container .property-status{
  padding: 5px;
  border: 1px solid #d0dbf0;
  display: flex;
  align-items: center;
  width: 90px;
  justify-content: space-around;
  font-size: 13px;
  border-radius: 8px;
}
.user-properties-container .property-status .dot{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.user-properties-container .property-status .dot.pending{
  background-color: #ff6868;
}
.user-properties-container .property-status .dot.succeeded{
  background-color: #00b4d7;
}
.user-properties-container table span.name{
  font-weight: 500;
}





/* ESTATE STYLES */
.estate-container {
  height: 500px;
}

.estates-wrapper table tr,
.estates-wrapper table td {
  border: none;
}

.estates-wrapper table .estate-name {
  margin-left: 10px;
}

.estates-wrapper table thead {
  background-color: #dcdcdf;
  padding: 20px;
  color: #63646e;
  font-size: 14px;
  border-radius: 20px !important;
}

.estates-wrapper table tbody {
  border: none;
}

.estates-wrapper table tr div {
  display: flex;
}

/* SPONSOR LISTING STYLES */
.sponsor-listing-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.sponsor-listing-container img {
  width: 130px;
  object-fit: cover;
}

/* CREATE LISTING PAGE STYLES */

.create-estate-wrapper .estates-create-tabs ul {
  padding-left: 0;
  display: flex;
}

.create-estate-wrapper .estates-create-tabs .btn {
  font-weight: 600;
}
.create-estate-wrapper .estates-create-tabs ul li{
  flex: 1;
}

.create-estate-wrapper .estates-create-tabs ul li button{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
 }
.create-estate-wrapper .estates-create-tabs ul li i {
  margin-left: 5px;
  font-size: 20px;
  color: #16192c;
}

.create-estate-wrapper label {
  font-weight: 600;
  margin-bottom: 10px;
}

.create-estate-wrapper textarea {
  height: 150px;
}

.create-estate-wrapper select option {
  font-size: 13px;
}

.create-estate-wrapper .estate-card {
  border: none;
  box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
  border-radius: 12px;
  box-shadow: none !important;
}

.create-estate-control-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-estate-control-btn .btn-style-1 {
  padding: 15px 40px;
  border: 1px solid #1a1b1b;
  border-radius: 12px;
}

.upload-photo-control .btn-style-1 {
  padding: 15px 40px;
  color: white;
  border-radius: 12px;
  background-color: #90aae1;
}

.create-estate-control-btn .btn i {
  margin-left: 10px;
}


.property-media .property-media-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted rgb(151 154 158);
  border-radius: 12px;
  padding: 50px;
}

.property-media .property-media-inner {
  text-align: center;
}

.property-media .photo-uploads {
  display: flex;
  align-items: center;
}

.property-media .photo-uploads .photo {
  width: 200px;
  position: relative;
  margin-left: 20px;
}

.property-media .photo-uploads .photo img {
  width: 100%;
  height: 150px;
  border-radius: 12px;
  object-fit: cover;
}

.property-media .photo-uploads .photo .btn {
  background-color: rgb(214, 14, 14);
  width: 30px;
  height: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
}

.property-media .upload-icon i {
  font-size: 4rem;
  color: #ddddda;
}



.estates-wrapper table img {
  width: 65px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}


/* KEY FRAMES */

@keyframes modalScale {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes scaleIcon {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1.5);
  }
}




/* RESPONSIVE WEB DESIGN */

@media(max-width: 770px) {
  .navbar .menu-1 {
    display: none;
  }

  .banner-content h1 {
    font-size: 30px !important;
  }
}


@media(min-width: 770px) {
  .navbar .menu-1 input {
    width: 300px;
    margin-left: 30px;
  }
}

@media(max-width: 1000px) {
  .property-listing-container .row>* {
    width: 100% !important;
    flex-shrink: 1;

  }

  .banner-content {
    min-width: 100px !important;
    margin-top: 100px;
  }

  .property-listing-container {
    margin-top: 200px;
  }

  .banner-search input,
  .banner-search select {
    margin-top: 10px;
  }

  .search-col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .property-listing-container .header-left {
    visibility: hidden;
  }

  .navbar {
    position: relative;
  }

  .banner-control-buttons {
    display: flex;
    justify-content: space-between;
  }

  .banner-content .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
  }

  .banner-content p {
    color: #555f89;
    font-size: 18px;
  }

  .property-showcase-1,
  .property-showcase-2,
  .reviews,
  .create-review,
  .views {
    padding: 3.5rem 20px !important;
  }

  .property-showcase-2 img {
    height: 200px;
    object-fit: cover;
    margin-top: 20px;
  }

  .agent-showcase {
    padding: 2rem 0;
  }
  .agent-showcase .content{
    padding: 1rem;
  }

  .shadow-1 {
    border-radius: 0;
  }

  .property-showcase .property-showcase-1-left .tag {
    margin: 20px 0;
  }

  .reviews .review {
    padding: 0.5rem;
  }

  .property-card.agent {
    margin-top: 24px;
  }

  .profile-page-container .heading div:first-child{
    display: none;
  }

  .user-profile-wrapper{
    width: 180px;
    height: 180px;
    margin: auto !important;
  }

  .profile-header{
    display: block !important;
  }
  .top-profile-header .username{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-header ul{
    flex-direction: column;
    align-items: revert;
  }
  .profile-header ul li{
    margin-bottom: 5px;
  }

  .profile-page-container .left-profile-page img{
    
  }
  .profile-header .top-profile-header .right button:last-child{
    margin-top: 10px;
  }
  .profile-header .top-profile-header .right button:first-child{
    margin-top: 10px;
  }

  .earning-card{
    margin-top: 20px;
  }

  .agent-showcase img {
    width: 300px;
    height: 300px;
  }

  .estate-card{
    padding: 10px !important;
  }

  .property-page{
    padding: 0;
  }

  .reviews .reviews-reply-container .review img{
    width: 40px;
    height: 40px;
  }

  .views .btn{
    padding: 7px 10px;
  }
  .property-page .agents .agent-details .heading-1 {
    font-size: 16px;
  }
  .property-page .agents .agent-details .location{
    font-size: 15px;
  }

  .profile-page-container{
    padding: 20px 10px;
  }

  .btn-container-1, .btn-container-2{
    display: flex;
  }

  .btn-container-2{
    margin: 0 !important;
  }

  .navbar .logo img{
    width: 40px;
    height: 70px;
    cursor: pointer;
    transform: scale(2.7);
    margin-left: 25px;
    object-fit: contain;
  }

  .reviews .reviews-reply-container .review .content p {
    font-size: 14px;
  }

  .form-wrapper .form-container{
    max-width: 350px;
  }

  .navbar-top-profile .profile-left h5{
    font-size: 17px;
  }

  .navbar-top-profile .profile-left {
    margin-left: 10px;
  }

  .profile-header .user-name {
    font-size: 18px;
    margin-right: 0px;
  }

  .agent-showcase h2 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 20px;
  }

  .category-listing-wrapper img{
    width: 120px;
    height: 120px;
  }

  .category-listing-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .sponsor-listing-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .profile-page-container .left-profile-page img{
    width: 180px;
    height: 180px;
  }

  .profile-wrapper-right .nav-tabs li{
    flex: 1;
  }

  .user-properties-container table{
    width: 200%;
  }
  .profile-header > div{
    margin-left: 0px;
  }
  .create-estate-wrapper .form-group{
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 20px;
  }

  .create-estate-control-btn .btn-style-1 {
    padding: 10px;
    border: 1px solid #1a1b1b;
    border-radius: 50px;
    font-weight: 600;
  }

  .modal-dialog{
    max-width: 300px;
    animation: modalScale 0.5s ease-in-out;
  }


}


@media(min-width: 900px) {
  .navbar .menu-1 input {
    width: 400px;
  }
}
