

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Nunito+Sans:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Nunito+Sans:wght@500&family=Ysabeau+Office:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
 @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");






:root {
  --color-1: #e7eaed;
  --color2: #0b8cd3;
  --border-color1: #e1e3ea;
  --shallow-shadow2: 0 1px .625rem 0 hsla(210, 7%, 22%, .06), 0 .125rem .25rem 0 hsla(210, 7%, 22%, .08);
  --shallow-shadow: 0px 0 30px rgb(1 41 112 / 10%);
  --shallow-shadow3: 0px 0 30px rgb(133 134 137 / 10%);
  overflow-x: hidden !important;
}

html, body{
  overflow-x: hidden !important;
}


body {
  background: #fff;
  font-weight: 500;
  font-family: "Roboto"; 
  overflow: hidden !important;
  line-height: 1.7; 
  color: #18396a;        
         transform: scale(0.9);
  transform-origin: top left;
  width: 111.11%;  
height: 100%;                         
} 

audio{
  display: none;
}

.favourite-container{
  margin-top: 7rem;
}

.banner-content h1, .banner-content p, .banner- content .banner-control-buttons{
display: none !important;

}

ul {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

a {
  color: #333e48;
  text-decoration: none;
}


input[type="text"], input[type="password"],input[type="number"], textarea {
  border: 1px solid #62808d33;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  font-size: 17px;
}
input:focus {
  box-shadow: none !important;
  
}
textarea:focus{
  box-shadow: 0;
  outline: 2px solid skyblue;
}

input::placeholder {
  font-size: 17px;
  font-weight: 400;
}

input:focus {
  box-shadow: 0;
  outline: 2px solid skyblue;
  border: none !important;
}

label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Noto Sans";
  display: block;
}
select {
  border-radius: 0;
  border: 1px solid #62808d33;
  padding: 15px;
width: 100%;
}
select:focus {
  box-shadow: none !important;
  outline: 1px solid #62808d33;
}
select option span {
  font-size: 12px !important;
}


.agent-showcase p{
  color: rgb(75, 88, 124);
  line-height: 1.7;
  font-size: 18px;
  font-weight: 500;
}

img {
  width: 100%;
  object-fit: contain;
}
.cap{
  text-transform: capitalize !important;
  display: inline-block;
}

.property-spinner {
  width: 20px;
  height: 20px;
}

.app-wrapper {
  
}

.modal-dialog{
  margin: 5rem auto;
  animation: modalScale 0.8s ease-in-out;
}
.modal-dialog .modal-container{
  border: none !important;
  box-shadow: 0 1px 6px 0 #20212447;
}

.modal {
  display: block !important;
}


.modal .alert {
  border-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal .error-icon {
  text-align: center;
  padding: 5rem;
}

.modal .error-icon i {
  font-size: 4rem;
  animation: scaleIcon 0.5s ease-in-out 0.5s;
}

.map-container {
  height: 100%;
  width: 100%;
}

.btn:focus {
  box-shadow: none;
}

.form-control:focus {
  border: 1px solid #ccc !important;
  box-shadow: none;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

.card {
  border: 1px solid var(--color-1);
  box-shadow: var(--shallow-shadow3);
}
.form-control{
  
}

.container {
  max-width: 1450px;
}
.svg-icon {
  width: 30px;
  height: 30px;
}
.dropdown-menu {
  padding: 0;

}

.create-estate-btn {
  background-color: #49c2d4;
}
/* Navbar styles */
.navbar {
  padding: 15px !important;
  /* border-bottom: 1px solid var(--color-1); */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 1px 6px 0 #20212447;
}

.navbar .logo {
  flex: 0.5;
}

.navbar .logo a{
  display: flex;
  align-items: center;
  gap: 15px;
}
.navbar h3{
  font-weight: 700;
  font-family: "DM Sans";
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 10px;
}

.navbar .logo img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: scale(1.6);
}

.navbar .menu-2 i {
  font-size: 25px;
  color: black;
  font-weight: 700;
}

.navbar .menu-1 {
  position: relative;
}

.navbar .menu-1 input {
  width: 400px;
  border-radius: 30px;
  box-shadow: 0 1px 6px 0 #20212447;
  border: none;
  padding: 10px 20px;
}

.navbar .menu-1 .search-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.navbar .menu-2 {
  flex: 1;
  justify-content: end;
}
.navbar .menu-2 .navbar-icon-links{
  margin-right: 1.7rem !important;
}

.navbar .menu-2 .navbar-icon-links li>a {
  padding: 18px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 20px;
  position: relative;
}
.navbar .menu-2 .navbar-icon-links .icon{
  font-size: 1.7rem;
  font-weight: 500;
}

.navbar .menu-2 a .count {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  background-color: #6694c9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  top: -12px;
  right: 0;
}

.navbar .menu-2 ul li:nth-child(1) a .count {
  background-color: #f96565 !important;
}

.navbar .menu-2 ul li:nth-child(2) a .count {
  background-color: #6694c9 !important;
}

.navbar .menu-2 ul li:nth-child(3) a .count {
  background-color: #f50022 !important;
}

.navbar .menu-3 .btn {
  color: white;
  font-family: "Jost";
  padding: 6px 20px;
  font-size: 17px;
  border-radius: 30px;
  width: 130px;
}

.navbar .menu-3 .btn-login {
  background-color: #5143d9;
  margin-right: 20px;
}

.navbar .menu-3 .btn-sign {
  background-color: #1972ff;
  color: #fff;
}

.navbar-profile {
  position: relative;
  padding-left: 20px;
}
.navbar-profile .icon{
  font-size: 2.5rem;
}

.navbar-profile .dropdown-menu {
  margin-top: 35px;
}

.navbar-top-profile {
  font-size: 14px !important;
  font-size: 14px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--color-1);
}


.navbar-top-profile .profile-left {
  margin-left: 10px;
}

.navbar-top-profile .profile-left h5 {
  color: #000000;
  font-weight: 400;
  margin: 0;
  font-size: 18px;
}

.navbar-top-profile .profile-left h6 {
  font-size: 14px;
  color: #384558;
  font-weight: 400;
}

.navbar-profile li img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #dcdddf;
}

.active-state {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #26ffba;
  position: absolute;
  top: -2px;
  right: 2px;
}

.navbar-bottom-profile ul {
  padding: 0;
}

.navbar-bottom-profile ul li a {
  display: flex;
  align-items: center;
  padding: 7px 5px;
}

.navbar-bottom-profile ul li a {
  display: flex;
  align-items: center;
  padding: 7px 5px;
}

.navbar-bottom-profile ul li a:hover {
  background-color: #fcffff;
}

.navbar-bottom-profile ul li i {
  margin-right: 10px;
  font-size: 17px !important;
}

.navbar-bottom-profile a {
  justify-content: start;
}

.navbar-bottom-profile i {
  font-size: 15px;
}

.navbar-top-profile i {
  font-size: 15px;
}

.navbar .notification-container .dropdown-menu{
  min-width: 390px;
  height: 400px;
  overflow-y: scroll;
}
.navbar .notification-container .dropdown-top p{
  font-weight: 600;
}
.navbar .notification-container .user{
  display: flex;
  padding: 10px;
}
.navbar .notification-container .user-info{
  margin-left: 15px;
}
.navbar .notification-container .user-info p{
  font-size: 14px;
  margin-bottom: 2px;
}
.navbar .notification-container .user-info p span{
  font-weight: bold;
}
.navbar .notification-container .comment{
  display: flex;
  align-items: center;
}
.navbar .notification-container .comment span{
  margin-right: 10px;
}
.navbar .notification-container img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.navbar .notification-container .user-info .name{
  margin-right: 10px;
}



.filter {
}
.filter form {
  padding: 10px;
}

.filter .menu {
  font-size: 15px;
  border-bottom: 1px solid #acc2d29b;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}
.filter .menu div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex: 1;
  text-align: center;
  padding: 12px 15px;
  background-color: #fffefe;
  margin: 10px;
  border-radius: 4px;
  color: #000000;
  font-weight: 500;
  font-size: medium;
  box-shadow: 0 1px 6px 0 #20212447;
  cursor: pointer;
}
.filter .menu div.active {
  background-color: #282828;
  color: white;
  transition: all ease-in 0.1s;
}

.filter h5 {
  font-weight: 500;
  font-family: "Roboto";
}
.filter h5 span {
  font-weight: 500;
}
.filter .range-input-container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter .range-input-container input {
  width: 70px;
  height: 30px;
  padding: 10px;
}

.filter .submit-btn {
  width: 100%;
  font-weight: 600;
  background: linear-gradient(45deg, #7fd4fe, #2babd1);
  color: white;
  margin: 10px 0;
}

.filter .submit-wrapper {
  position: relative;
}

.filter .submit-wrapper span {
  position: absolute;
  top: 34%;
  left: 57%;
  color: white;
}

.filter-wrapper {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 #20212447;
  max-width: 700px;
  margin: 100px auto;
  overflow-y: auto;
  margin-bottom: 20px;
}
.filter-wrapper .filter-buy{
  transition: all ease-in-out 0.2s;
}

/* Banner Styles */
.banner {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 8rem;

}

.banner .banner-content {
  /* min-width: 1000px; */
}

.banner .banner-content p {
  font-size: 20px;
  color: #333;
}

.banner .banner-control-buttons {
  margin: 20px 0;
}

.banner-content h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;

}

.banner-content .btn {
  color: white;
  padding: 12px 40px;
  font-weight: bold;
  border-radius: 8px;
  margin: 0px 20px;
  font-size: 18px;
}

.banner-content .btn i {
  margin-left: 5px;
}

.banner-content .buy {
  background-color: #ff593b;
}

.banner-content .rent {
  background-color: #4a87ff;
}

.banner-content .banner-search {
  margin: 3rem 0;
  box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
  padding: 30px;
  border-radius: 10px;
}

.banner-content .banner-search .row {
  align-items: center;
  justify-content: center;
}

.banner-content .search {
  background-color: white;
  color: #18181a;
  border: 1px solid #676771;
}

.banner-search input,
.banner-search select {
  padding: 15px 10px;
  font-family: "Jost";
}

.banner-search button {
  padding: 15px 40px !important;
  display: flex;
  font-family: "Jost";
}

.filter .form-group.location {
  position: relative;
}
.filter .form-group.location .dropdown-menu{
  max-height: 400px;
  overflow: auto;
  width: 100%;
}

.filter .form-group.location .dropdown-menu a{
  font-weight: 400;
  font-family: "Inter";
}


.filter .form-group.location i {
  position: absolute;
  top: 55%;
  right: 10px;
}


/* AGENT SHOWCASE STYLES */
.agent-showcase {
    background-color: #18396a;;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 6rem 0;
}
.agent-showcase .showcase-img-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.agent-showcase img {
  width: 400px;
  height: 400px;
}

.agent-showcase h2 {
  font-size: 40px;
  color: #ffffff;
  font-family: 'Nunito Sans';
  font-weight: 800;
  margin-bottom: 2rem;
}

.agent-showcase p {
  color: #e2e9f3;
}


.agent-showcase .register-btn {
  color: #ffffff;
    background-color: #1e81eb;
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 15px;
    font-weight: 800;
    font-family: "Nunito Sans";
    border: 2px solid #057af0;
}

/* Property styles */
.property-header h5 {
  font-size: 15px;
  color: #6694c9;
}

.property-header h4 {
  font-size: 19px;
  color: #000000;
}

.property-header .btn {
  margin-left: 10px;
  color: #1e3f62;
  font-weight: 500;
  box-shadow: 0 1px 6px 0 #20212447;
  padding: 10px;
}

.property-listing-container {
  /* background-color: #f7f7f7; */
}

.property .card {
  border-radius: 7px;
  overflow: hidden;
  height: 320px;
}

.property .card .cover{

}

.property-notfound{
  text-align: center;
  margin: 3rem 0;
}

.property .top,
.property .middle,
.property .bottom {
  padding: 20px;
}

.property .middle p {
  font-size: 13px;
    color: #62666b;
    font-weight: 600;
}
.property .middle p .time{
  margin-left: 20px;
  color: #828496eb;
  font-size: 13px;
}
.property .middle p .time i{
  margin-right: 3px;
}

/* .property .top{
  height: 260px;
  position: relative;
} */
.property h4 {
  font-size: 16px;
  color: #5a5a71;;
  font-weight: 700;
  text-transform: capitalize;
}

.property .property-tags {
  margin-left: -7px;
}

.property .property-options {
  display: none !important;
}

/* .property .property-tags{
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  
  left: 0;
  padding: 20px;
  width: 100%;
}
.property .pricing{
  position: absolute;
  z-index: 1000;
  bottom: 20px;
  color: white;
} */
.property .pricing h4 {
  color: rgb(15 105 249);
  font-size: 17px;
  margin-top: 20px;
  font-weight: 600;
}

.property .tag-text {
  text-transform: capitalize;
}

.property .tag {
  display: inline-block;
  padding: 10px 5px;
  background-color: #d7e0e6;
  border-radius: 7px;
  min-width: 30px;
  text-align: center;
  margin-right: 5px;
  color: white;
  line-height: 10px;
  transform: scale(0.8);
}

.property .tag-1 {
  background-color: #1097eb;
}

.property .tag-2 {
  background-color: #00b4d7;
}

.property .tag-3 {
  background-color: #f9a11e;
}

.property .tag-4 {
  background-color: #787d80;
}

.property .owner img {
  width: 40px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.property .owner div{
  margin-left: 8px;
}
.property .owner p {
  margin: 0;
  margin-left: 10px;
}
.property .owner a{
  color: #0b8cd3;
}

.property .owner p a {
  color: var(--color2);
}

.property .btn {
  color: #151a1e;
  background-color: #e7eaed;
  font-weight: 500;
  padding: 6px 20px;
}

.property .bottom {
  border-top: 1px solid var(--color-1);

}

/* .property .cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.property .top::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: #00000027;
  z-index: 1000;
} */

/* PROPERTY PAGINATION STYLES */

.pagination-container{
  display: flex;
  justify-content: center;
}

.pagination-container .page-link{
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 1.8;
}

.pagination-container .page-bg{
  background: #4b9cf2 !important; 
  color: white;
}
.pagination-container ul{

}
.pagination-container li{
  margin: 0 10px;
  border-radius: 50%;
}

.pagination-container .prev, .pagination-container .next{
  border-radius: 50% !important;
}





/* PROPERTY PAGES STYLES */
.shadow-1 {
  box-shadow: 0px 0 30px rgb(1 41 112 / 10%) !important;
  border-radius: 0.625rem;
  box-shadow: 0 7px 14px 0 rgba(65,69,88,0.1), 0 px 6px 0 rgba(0,0,0,0.07) !important;
  border: none;
}
.shadow-2{
  box-shadow: 0 1px 6px 0 #20212447;
}

.t-1 {
  font-weight: 700;
  font-size: 20px;
}

.t-2 {
  font-weight: 700;
  font-size: 18px;
}

.t-3 {
  font-size: 3rem;
  font-weight: bold;
}

.heading-1 {
  /* font-family: Inter, "sans-serif"; */
  font-weight: 600;
  /* color: #1e293b; */
  font-size: 20px;
  margin-bottom: 1.5rem;
}

.property-showcase .t-4 {
  font-family: 'Nunito Sans';
  font-weight: 600;
  color: rgb(30, 41, 59);
}

.property-showcase .price {
  color: rgb(30, 41, 59);
  font-family: 'Inter';
  font-weight: 700;
}

.property-showcase .meta {
  
}

.property-showcase .meta span {
  margin-right: 10px;
}

.property-showcase .meta span i {
  margin-right: 5px;
}

.property-showcase .time {
  margin-left: 10px;
}

.property-showcase .tag i {
  margin-left: 10px;
}

.property-showcase .property-showcase-1-left .tag {
  background-color: #34b9e8;
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 5px;
}

.property-showcase .property-showcase-1-right .btn {
  border: 1px solid #ccc;
  margin-right: 10px;
}




.reviews .review-search::placeholder{
  font-size: 12px;
}
.reviews .review-stats {
  border-bottom: 1px solid #c2c9cf7d;
  padding-bottom: 2rem;
}

.reviews .stats-num span {
  margin-right: 5px;
  font-size: 18px;
  font-weight: 500;
}

.reviews .stats-num span i {
  color: orange;
}

.reviews .stats-num .num {
  font-family: "Nunito Sans";
}

.reviews .progress {
  height: 10px;
  margin-top: 12px;
}

.reviews .progress-bar {
  background-color: orange;
}

.reviews .review {
  border-bottom: 1px solid #c2c9cf7d;
  padding: 2rem;
  margin-top: 2rem;
}

.reviews .reviews-reply-container .review img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}

.reviews .reviews-reply-container .review .review-right {
  margin-left: 15px;
}

.reviews .reviews-reply-container .review .content .stars span {
  margin-right: 5px;
}

.reviews .reviews-reply-container .review .content .stars span i {
  color: orange;
}

.reviews .reviews-reply-container .review .content h4 {
  font-size: 18px;
  font-family: 'Roboto';
  color: #0f1623;
  font-weight: 500;
}

.reviews .reviews-reply-container .review .content h4 span {
  font-size: 12px;
  color: #475058d4;
  margin-left: 10px;
}
.reviews .reviews-reply-container .review .content h4 span i{
  margin-right: 5px;
}
.review-helpfull p{
  flex: 1;
}

.reviews .reviews-reply-container .review .content p {
  color: #313e59;
  font-size: 16px;
  margin: 0;
}

.reviews .review-helpfull .btn {
  color: white;
  margin-left: 10px;
}

.reviews .review-helpfull p {
  margin: 0;
}

.reviews .review-helpfull .btn:nth-child(1) {
  background-color: #5143d9;
}

.reviews .review-helpfull .btn:nth-child(2) {
  background-color: white;
  color: #64748b;
  border: 1px solid #64748b;
}

.property-page {
  padding-top: 5rem;
}

.property-page .property-images-list img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.property-page .property-images-list > div{
  height: 200px;
}

.property-page .property-middle {
  border-bottom: 1px solid #cfd4e185;
  padding: 30px 20px;
}

.property-page .property-middle img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.property-page .property-middle .btn {
  background-color: #ffffff;
  color: #272323;
  font-weight: 500;
  border-radius: 7px;
  font-size: 17px;
  border: 1px solid #333;
  padding: 10px 20px;
}

.property-page .property-bottom {
  padding: 30px 20px;
}

.property-page .property-bottom .list-group li {
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.property-page .property-bottom .list-group li span:first-child {
  margin-right: 15px;
}


.property-page .social-links {
  display: flex;
}

.property-page .social-links span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.property-page .social-links span i {
  color: white;
}

.property-page .social-links span.facebook {
  background-color: #3b5998;
}

.property-page .social-links span.twitter {
  background-color: #0c85d0;
}

.property-page .social-links span.google {
  background-color: #c63224;
}

.property-page .social-links span.dribbble {
  background-color: #e62a72;
}

.views .btn {
  border: 1px solid #939aa4;
  padding: 7px 25px;
  margin-right: 20px;
  font-weight: 500;
}

.property-page .create-review .stars i {
  font-size: 2.5rem;
  color: orange;
  margin-right: 5px;
}

.property-page .create-review textarea {
  border-radius: 40px;
  resize: none;
  padding: 10px 20px;
}

.property-page .create-review .terrible {
  color: #9ba8b0;
}

.property-page .create-review label {
  margin: 10px 0;
  font-weight: 700;
}

.property-page .create-review .create {
  border-radius: 7px;
  padding: 10px 20px;
  background-color: #3bacfd;
  color: white;
  font-weight: 600;
  font-family: 'Nunito Sans';
}

.agents{
  border-bottom: 1px solid #c2c9cf7d;
  padding-bottom: 30px !important;
}

.agents img {
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50%;
  object-fit: cover;
}
.agents .agent-content{
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.agents .agent-details .listing {
  margin: 0;
}

.agents .agent-details .heading-1 {
  font-size: 16px;
  margin-bottom: 2px;
  margin-top: 15px;
  font-weight: 700;
}


.agents .agent-details .star{
  font-size: 18px;
}
.agents .agent-details .star i {
  color: orange;
  margin-left: 5px;
}

.agents button{
  width: 100%;
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
    background-color: white;
    font-weight: 600;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
}

.agents button:hover{
  opacity: .6;
}

/* category styles */
.category-listing-container {
  background-color: #fff;
}
.category-listing-wrapper .card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  text-align: center;
  border-radius: 7px;
  box-shadow: none;
  border: 1px solid var(--border-color1);
  background-color: transparent !important;
  border: none;
}
.category-listing-wrapper .icon {
  width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
.category-listing-wrapper .icon:hover{
  transform: scale(1.2);
}
.category-listing-container .icon span{
  font-size: 3rem;
}

.category-header h3{
  font-size: 18px;
  color: #333;
  font-weight: 700;
  text-transform: capitalize;
  font-family: 'Inter';
}

.category-listing-wrapper .col-3:nth-child(1) .inner-content i {
  color: red;
}

.category-listing-wrapper .col-3:nth-child(2) .inner-content i {
  color: rgb(0, 44, 70);
}

.category-listing-wrapper .col-3:nth-child(3) .inner-content i {
  color: rgb(63 141 248);
}

.category-listing-wrapper .col-3:nth-child(4) .inner-content i {
  color: rgb(53 240 86);
}

.category-listing-container .heading {
  font-size: 19px;
  color: #000000;
}

.category-listing-wrapper .card h5 {
  font-size: 16px;
  color: #333;
  font-weight: 700;
  text-transform: capitalize;
}

.category-listing-wrapper img {
  width: 150px;
  height: 150px;
}

.category-listing-wrapper i {
  font-size: 20px;
  margin-left: 5px;
}

.category-listing-wrapper .card .btn {
  color: #fff;
    margin-top: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #4b9cf2;
}

/* LOADER STYLES */
.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center
}

.loader {
  width: 100px;
  aspect-ratio: 1;
  --c: no-repeat radial-gradient(farthest-side, #514b82 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 10px 10px;
  animation: l18 1s infinite;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: 3px;
  background: repeating-conic-gradient(#0000 0 35deg, #514b82 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  border-radius: 50%;
}
@keyframes l18 {
  100% {
    transform: rotate(0.5turn);
  }
}

/*LOADER STYLES END */





/* LOGIN & REGISTER PAGE STYLES */
.form-wrapper label {
  margin-bottom: 5px;
}

.form-wrapper .form-container {
  max-width: 400px;
  border-radius: 5px;
  /* box-shadow: 0px 0 30px rgb(1 41 112 / 10%); */
  margin: 0 auto;
  padding: 2rem;
  position: relative;
}

.form-wrapper .form-container a {
  color: #165bc2 !important;
}

.form-wrapper .form-container .heading {
  text-align: center;
}

.form-wrapper .form-container .heading h4 {
  color: #1a69de;
  font-weight: 400;
}

.form-wrapper .form-container .form-group {
  margin-top: 1rem;
}

.form-wrapper .form-container button {
  width: 100%;
  font-weight: 500;
}

.form-wrapper .form-container .form-logo {}

.form-wrapper .form-logo img {
  width: 50px !important;
  height: 50px !important;
  transform: scale(1.9);
  margin-bottom: 40px;
}

.form-wrapper .form-logo h3{
  font-weight: 800;
  text-transform: uppercase;
  font-family: "DM Sans";
}



/* PROFILE PAGE STYLES */
.profile-page-container {
  padding-top: 5rem;
}

.profile-container {
  padding: 20px 0px;
}

.profile-page-container .profile-header.card {
  flex-direction: row;
  padding: 1rem;
  box-shadow: none;
}

.profile-page-container .btn {
  text-wrap: nowrap;
  color: white;
  padding: 10px 20px;
  font-weight: 500;
}

.profile-page-container .heading div:first-child {
  visibility: hidden;
}

.profile-page-container .heading div>p:first-child {
  font-weight: 900;
  color: #16192c;
  font-size: 15px;
  margin-right: 20px;
}

.profile-page-container .heading div>p:last-child {
  font-weight: 900;
  color: #16192c;
  font-size: 15px;
  margin-right: 20px;
}

.profile-page-container .heading div>button:first-child {
  background-color: rgb(30, 37, 100);
  color: white;
  margin-right: 20px;
}

.profile-page-container .heading div>button:last-child {
  background-color: var(--color2);
  color: white;
}

.profile-page-container .user-profile-wrapper {
  flex: 0.3;
  position: relative;
}

.profile-page-container .user-profile-wrapper .active-state {
  top: 10px;
  right: 24px;
  width: 15px;
  height: 15px;
}

.profile-page-container .left-profile-page img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 10px;
  background-color: #f2f2f2;
  object-fit: cover;
}

.profile-header .user-name {
  font-weight: 600;
  color: #16192c;
  font-size: 23px;
  margin-right: 20px;
}

.profile-header .user-icon {
  color: #3689ef;
  font-size: 40px;
  margin-left: 5px;
}

.profile-header .top-profile-header .right button:first-child {
  background-color: #5143d9;
  margin-right: 10px;
}

.profile-header .top-profile-header .right button:last-child {
  background-color: #ff6868;
}

.profile-header ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-items: center;
}

.profile-header>div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex: 1;
}

.profile-header ul li {
  margin-right: 10px;
  font-size: 15px;
}

.profile-header ul li i {
  margin-right: 3px;
}

.profile-header .bottom-profile-header .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.profile-header .bottom-profile-header .left>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 110px;
  height: 80px;
  margin-right: 10px;
  text-align: center;
  margin-left: -21px;
}

.profile-header .bottom-profile-header .left>div h5 {
  font-weight: 700;
  color: rgb(15 105 249);
  font-size: 16px;
}

.profile-header .bottom-profile-header .left>div p {
  color: #18396a;
}

.profile-wrapper-right {}

.profile-wrapper-right .nav-tabs {

}

.profile-wrapper-right .nav-tabs li{
  
}
.profile-wrapper-right .nav-tabs li button span{
  display: flex;
  align-items: center;
}

.profile-wrapper-right .nav-link {
  border: none;
}

.profile-wrapper-right .nav-link i {
  margin-left: 5px;
  font-size: 1.5rem;
}

.profile-wrapper-right .nav-link.active {
  color: #495057;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  border-bottom: none;
}

.profile-wrapper-right .row {
  margin-top: 20px;
}


.profile-wrapper-right .edit-profile .profile {
  border-radius: 0;
  border: none;
  background-color: transparent;
  width: 150px;
  height: 140px;
}

.profile-wrapper-right textarea {
  height: 120px;
}

.profile-wrapper-right .inner-title {
  font-weight: 500;
  font-size: 17px;
}

.profile-link-container .profile-links-row {
  display: flex;
  border-radius: 4px;
}

.profile-link-container .profile-links-row a {
  color: rgb(15 105 249);
}

.profile-link-container .profile-links-row li {
  padding: 5px;
  flex: 1 !important;
  text-align: center;
}

.profile-link-container .tab-content .inner-earnings>div:nth-child(1) .earning-card {
  background-color: #ff6868;
}

.profile-link-container .tab-content .inner-earnings>div:nth-child(2) .earning-card {
  background-color: #3d6e8c;
}

.profile-link-container .tab-content .inner-earnings>div:nth-child(3) .earning-card {
  background-color: #8285e7;
}

.earning-card {
  padding: 20px;
  border-radius: 4px;
}

.earning-card h4 {
  font-weight: 600;
}

.bottom-profile-page{
  
}
.bottom-profile-page .heading{
  font-size: 27px;
  font-family: 'Jost';
}
.user-properties-container .search{
  padding: 10px 30px;
}
.user-properties-container table{
  width: 100%;
}
.user-properties-container table img{
  width: 70px;
  height: 60px;
  object-fit: cover;
  border-radius: 7px;
}
.user-properties-container thead{
  border-bottom: 2px solid #d0dbf0;
}
.user-properties-container span{
  color: #12263f;
}
.user-properties-container thead span{
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Jost";
  color: #000000;
}

.user-properties-container tbody tr td{
  padding: 5px;
  border-bottom: 1px solid #d0dbf0;
  vertical-align: middle;
}

.user-properties-container .property-status{
  padding: 5px;
  border: 1px solid #d0dbf0;
  display: flex;
  align-items: center;
  width: 90px;
  justify-content: space-around;
  font-size: 13px;
  border-radius: 8px;
}
.user-properties-container .property-status .dot{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.user-properties-container .property-status .dot.pending{
  background-color: #ff6868;
}
.user-properties-container .property-status .dot.succeeded{
  background-color: #00b4d7;
}
.user-properties-container table span.name{
  font-weight: 500;
}



/* OTHER PROFILE PAGE STYLES */
.other-profile .heading{
  height: 71px;
}





/* ESTATE STYLES */
.estate-container {
  height: 500px;
}

.estates-wrapper table tr,
.estates-wrapper table td {
  border: none;
}

.estates-wrapper table .estate-name {
  margin-left: 10px;
}

.estates-wrapper table thead {
  background-color: #dcdcdf;
  padding: 20px;
  color: #63646e;
  font-size: 14px;
  border-radius: 20px !important;
}

.estates-wrapper table tbody {
  border: none;
}

.estates-wrapper table tr div {
  display: flex;
}

/* SPONSOR LISTING STYLES */
.sponsor-listing-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.sponsor-listing-container img {
  width: 130px;
  object-fit: cover;
}

/* CREATE LISTING PAGE STYLES */

.create-estate-wrapper{
  box-shadow: 0 1px 6px 0 #20212447;
  border-radius: 4px;
  margin-top: 7rem !important;
}

.create-estate-wrapper .estates-create-tabs ul {
  padding-left: 0;
  display: flex;
}

.create-estate-wrapper .estates-create-tabs .btn {
  font-weight: 600;
}
.create-estate-wrapper .estates-create-tabs ul li{
  flex: 1;
}

.create-estate-wrapper .estates-create-tabs ul li button{
  display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    color: #38579b !important;
    padding: 5px;
 }
.create-estate-wrapper .estates-create-tabs ul li i {
  margin-left: 5px;
  font-size: 1.6rem;
  color: #606270;
}

.create-estate-wrapper label {
  font-weight: 600;
  margin-bottom: 10px;
}
.create-estate-wrapper .form-group{
  margin-top: 20px;
}

.create-estate-wrapper textarea {
  height: 150px;
}

.create-estate-wrapper select option {
  font-size: 16px;
}

.create-estate-wrapper .estate-card {
  border: none;
  box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
  border-radius: 12px;
  box-shadow: none !important;
}

.create-estate-control-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-estate-control-btn .btn-style-1 {
  padding: 15px 40px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: #4abbf3;
}


.upload-photo-control .btn-style-1 {
  padding: 15px 40px;
  color: white;
  border-radius: 12px;
  background-color: #90aae1;
}
.upload-photo-control .btn-style-1 input {
  display: none;
}

.create-estate-control-btn .btn i {
  margin-left: 10px;
}


.property-media .property-media-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted rgb(151 154 158);
  border-radius: 12px;
  padding: 50px;
}

.property-media .property-media-inner {
  text-align: center;
}

.property-media .photo-uploads {
  display: flex;
  align-items: center;
}

.property-media .photo-uploads .photo {
  width: 200px;
  position: relative;
  margin-left: 20px;
}

.property-media .photo-uploads .photo img {
  width: 100%;
  height: 150px;
  border-radius: 12px;
  object-fit: cover;
}

.property-media .photo-uploads .photo .btn {
  background-color: rgb(214, 14, 14);
  width: 30px;
  height: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
}

.property-media .upload-icon i {
  font-size: 4rem;
  color: #ddddda;
}
.property-location .submit-btn{
  margin-top: 50px;
  padding: 15px 50px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}



.estates-wrapper table img {
  width: 65px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}

/* AGENTS PAGE */

.agents-page{
  margin-top: 9rem;
}



/* KEY FRAMES */

@keyframes modalScale {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes scaleIcon {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1.5);
  }
}




/* RESPONSIVE WEB DESIGN */

@media(max-width: 770px) {
  .navbar .menu-1 {
    display: none;
  }

  .banner-content h1 {
    font-size: 30px !important;
  }

  label{
    font-size: 16px;
  }

  .footer ul li{
    font-size: small;
  }
  .footer h4{
    margin-top: 10px;
  }
}


@media(min-width: 770px) {
  .navbar .menu-1 input {
    width: 300px;
    margin-left: 30px;
  }

  /* .agents .row > div{
    flex: 0 0 auto !important;
    width: 18% !important;
  } */
}

/* min width */ 
@media(min-width: 1000px) {
  .property-page .shadow-1{
    box-shadow: none !important;
  }
}

/* max width*/
@media(max-width: 1000px) {
  .app-wrapper{
    margin-top: 5rem;
  }
  .navbar .notification-container.dropdown{
    position: static;
  }

  .navbar .notification-container .dropdown-menu{
    position: absolute;
    border: none;
    padding: 30px 20px;
    box-shadow: none;
    width: 100%;
  }


  .footer .row > div{
    margin-top: 25px;
  }
  .footer .row > div:first-child{
    margin: 0;
  }

  .footer .copyright{
    margin-top: 40px;
  }

  .footer .container{
    padding: 5px 30px !important;
  }

  .agents .row > div{
    margin-top: 20px;
  }
  

  .property-listing-container .row>* {
    width: 100% !important;
    flex-shrink: 1;

  }

  .filter-wrapper{
    
  }

  .create-estate-wrapper{
    margin-top: 2rem;
  }


  .property-listing-container {
    margin-top: 0px;
  }

  .banner-search input,
  .banner-search select {
    margin-top: 10px;
  }

  .search-col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .property-listing-container .header-left {
    visibility: hidden;
  }

  .navbar {
    
  }

  .banner-control-buttons {
    display: flex;
    justify-content: space-between;
  }

  .banner-content .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
  }

  .banner-content p {
    color: #555f89;
    font-size: 18px;
  }

  .property-showcase-1,
  .property-showcase-2,
  .reviews,
  .create-review,
  .views {
    padding: 3.5rem 20px !important;
  }

  .property-showcase-2 img {
    height: 200px;
    object-fit: cover;
    margin-top: 20px;
  }

  .agent-showcase {
    padding: 2rem 0;
  }
  .agent-showcase .content{
    padding: 1rem;
  }

  .shadow-1 {
    border-radius: 0;
  }

  .property-showcase .property-showcase-1-left .tag {
    margin: 20px 0;
  }

  .reviews .review {
    padding: 0.5rem;
  }

  .property-card.agent {
    margin-top: 24px;
  }

  .profile-page-container .heading div:first-child{
    display: none;
  }

  .user-profile-wrapper{
    width: 180px;
    height: 180px;
    margin: auto !important;
  }

  .profile-header{
    display: block !important;
  }
  .top-profile-header .username{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-header ul{
    flex-direction: column;
    align-items: revert;
  }
  .profile-header ul li{
    margin-bottom: 5px;
  }

  .profile-page-container .container{
    box-shadow: 0 1px 6px 0 #20212447;
    padding-top: 20px;
  }
  .profile-header .top-profile-header .right button:last-child{
    margin-top: 10px;
  }
  .profile-header .top-profile-header .right button:first-child{
    margin-top: 10px;
  }

  .earning-card{
    margin-top: 20px;
    padding: 2rem 20px;
  }

  .agent-showcase img {
    width: 300px;
    height: 300px;
  }

  .estate-card{
    padding: 10px !important;
  }

  .property-page{
    padding: 0;
  }

  .reviews .reviews-reply-container .review img{
    width: 40px;
    height: 40px;
  }

  .views .btn{
    padding: 7px 10px;
  }
  .property-page .agents .agent-details .heading-1 {
    font-size: 16px;
  }
  .property-page .agents .agent-details .location{
    font-size: 15px;
  }

  .profile-page-container{
    padding: 20px 10px;
  }

  .btn-container-1, .btn-container-2{
    display: flex;
  }

  .btn-container-2{
    margin: 0 !important;
  }

  .navbar .logo img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: scale(2.7);
    object-fit: contain;
  }

  .reviews .reviews-reply-container .review .content p {
    font-size: 14px;
  }

  .form-wrapper .form-container{
    max-width: 350px;
  }

  .navbar-top-profile .profile-left h5{
    font-size: 17px;
  }

  .navbar-top-profile .profile-left {
    margin-left: 10px;
  }

  .profile-header .user-name {
    font-size: 18px;
    margin-right: 0px;
  }

  .agent-showcase h2 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 20px;
  }

  .category-listing-wrapper img{
    width: 120px;
    height: 120px;
  }

  .category-listing-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .sponsor-listing-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .profile-page-container .left-profile-page img{
    width: 180px;
    height: 180px;
  }

  .profile-wrapper-right .nav-tabs li{
    flex: 1;
  }

  .user-properties-container table{
    width: 250%;
  }
  .profile-header > div{
    margin-left: 0px;
  }
  .create-estate-wrapper .form-group{
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 20px !important;
  }

  .create-estate-control-btn .btn-style-1 {
    padding: 10px;
    border: 1px solid #1a1b1b;
    border-radius: 50px;
    font-weight: 600;
  }

  .modal-dialog{
    max-width: 300px;
    animation: modalScale 0.8s ease-in-out;
  }

  .modal-dialog .modal-container{
    border: none !important;
    box-shadow: 0 1px 6px 0 #20212447;
  }

  .agents-page {
    margin-top: 0;
  }

  .agents-page .agents-inner-container{
    padding: 5px;
  }

  .map-container{
    max-width: 300px;
    height: 300px;
    margin: auto;
  }


  .property-page .property-images-list > div {
    height: 200px;
    margin-top: 20px;
}




}


@media(min-width: 900px) {
  .navbar .menu-1 input {
    width: 400px;
  }
}


@media(max-width: 400px){
  .property-showcase .meta .likes{
    display: none;
  }
}




.price-range-slider {
  width: 100%;
  margin: 20px auto;
}

.slider-container {
  position: relative;
  padding: 20px;
}

.horizontal-slider {
  width: 100%;
}

.example-thumb {
  background: #2294ff;
    border: 2px solid #595050;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    color: #f1ece9;
}


.example-track {
  background: #ddd;
  height: 6px;
  border-radius: 3px;
}

.price-range-values {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}



/* FOOTER STYLES START */

.footer{
  padding-top: 2rem;
}
.footer .meta-data img{
  width: 50px;
  height: 50px;
  margin-left: -10px;
}

.footer h4{
  font-size: 16px;
  color: #333;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer ul li{
  margin-top: 10px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #7e898a;
}

.footer .connect-icons{
  display: flex;
  grid-gap: 15px;
  align-items: center;
}
.footer .connect-icons > div{
  background-color: white;
    box-shadow: 0 1px 6px 0 #20212447;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.footer .connect-icons img{
  width: 25px;
  height: 25px;
}
.footer .copyright{
  text-align: center;
}
.footer .copyright p{
  margin: 0;
  font-weight: 500;
  font-family: "Roboto";
}



/* FOOTER STYLES ENDS */

.projects table{
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.projects table td.td-1{
  padding-top: 32px !important;
}

.projects img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -20px;
  object-fit: cover;
}
.projects .card .card-header{
  padding: 20px;
}
.projects .card .card-header h5{
   font-size: 17px;
   margin: 0;
}
.projects .card .card-body{
  padding: 0;
}
.projects .card table thead{
  background-color: #f5f9fc;
}
.projects .card table thead th{
  font-size: 12px !important;
  color: #525f7f;
  background-color: rgb(246, 248, 250);
  padding: 15px;
}
.projects .card table tbody tr td{
  padding: 17px 15px 17px;
  color: #525f7f;
  margin-top: 30px;
  text-wrap: nowrap;
}
.projects table tbody tr td:first-child{
  padding: 17px 30px 17px;
}
.projects table tbody td:first-child span{
  margin-left: 10px;
  color: #232323;
}

.projects table .dot{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;
}
.projects tbody .progress{
  height: 3px;
}
.projects tbody .btn{
  border: 1px solid #ccc;
  color: rgb(12, 21, 26);
  margin-left: 10px;
}
.projects .property-img-container img{
  width: 70px;
  height: 70px;
  border-radius: 5px !important;
  object-fit: cover;
}